.content-container {
    width: 98%;
    height: calc(100vh - 155px);
    background-color: #D8E3E7;
    box-shadow: 0 0  15px 10px #CCCCCC;
    border-radius: 15px;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-content{
    text-align: center;
    color: #126E82;
    font-size: 48px;
}
.button-content{
    background-color: #51C4D3;
    width: 450px;
    height: 150px;
    font-size: 36px;
    color: #126E82;
    border: none;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0  20px 5px #51C4D3;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
    font-family: 'mainFont', serif;
}
.button-content:hover{
    background-color: #D8E3E7;
    border:2px solid #51C4D3;
    transform: translateY(2px);
    transition: 0.3s ease-in-out;
}