.header-container{
    width: 98%;
    height: 100px;
    border-radius: 15px;
    background-color: #D8E3E7;
    box-shadow: 0 0  15px 10px #CCCCCC;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'mainFont', serif;
}
.button{
    background-color: #51C4D3;
    color: #126E82;
    border: none;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0  20px 5px #51C4D3;
    font-size: 20px;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
    font-family: 'mainFont', serif;
}
.button:hover{
    background-color: #D8E3E7;
    border:2px solid #51C4D3;
    transform: translateY(2px);
    transition: 0.3s ease-in-out;
}