body {
  margin: 0;
  font-family: 'mainFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'mainFont';
  src: url('./asset/font/ofont.ru_Zero.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
